@using MisCuentas.Domain.Interface
@using MisCuentas.Domain.Models
@inject IBalanceRepository balanceRepository

<div class = "contenedor">
    <div>
        <h1>@_balance.ingresos.ToString("C")</h1>
        <p>ingresos en @_mesTexto.ToUpper()</p>
    </div>
    <div>
        <h1>@_balance.gastos.ToString("C")</h1>
        <p>gastos en @_mesTexto.ToUpper()</p>
    </div>
    <div>
        <h1>@_balance.ahorro.ToString("C")</h1>
        <p>margen en @_mesTexto.ToUpper()</p>
    </div>
    <div>
        <h1>@_balance.ganancia.ToString("P2")</h1>
        <p>margen (%)</p>
    </div>
</div>

@code {
    private string _mesTexto = DateTime.Now.ToString("MMMM");
    private Balance _balance = new();

    protected override void OnInitialized()
    {
        _balance = balanceRepository.Balance(DateTime.Now.Month, DateTime.Now.Year);
    }
}