@using MisCuentas.Domain.Interface
@using MisCuentas.Domain.Models
@inject IBalanceService balanceService

<div>
    <div class = "_container">
        <h1>@_balance.ingresos.ToString("C")</h1>
        <h2>ingresos durante @_mesTexto.ToUpper()</h2>
    </div>
    <div class = "_container">
        <h1>@_balance.gastos.ToString("C")</h1>
        <h2>gastos durante @_mesTexto.ToUpper()</h2>
    </div>
    <div class="_container">
        <h1>@_balance.ahorro.ToString("C")</h1>
        <h2>ahorro durante @_mesTexto.ToUpper()</h2>
    </div>
    <div class = "_container">
        <h1>@_balance.ganancia.ToString("P2")</h1>
        <h2>ganancia en (%)</h2>
    </div>
</div>

@code {
    private readonly string _mesTexto = DateTime.Now.ToString("MMMM");
    private Balance _balance = new ();

    protected override void OnInitialized()
    {
        _balance = balanceService.Balance(DateTime.Now.Month, null);
    }

}